PORT=5001
MONGODB_URI=mongodb://localhost:27017/do_an_db
NODE_ENV=development
JWT_SECRET=your-strong-secret-here-change-me
JWT_EXPIRE=7d
SERVER_URL=http://localhost:5001
CLIENT_URL=http://localhost:5173
